#container2 {
    display: grid;
    grid-template-areas: 
    'he'
    'na';
    width: 100vw;
    height: 95vh;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 5fr;
    margin: 0;
}
nav {
    display: grid;
    grid-template-areas: 
    'ett tva tre';
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: na;
}
#ettf {
    grid-area: ett;
    margin: 1rem;
}
#tvaf {
    grid-area: tva;
    margin: 1rem;
}
#tref {
    grid-area: tre;
    margin: 1rem;
}
header {
    background-color: rgb(208, 171, 50);
    grid-area: he;
    margin: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
}
#ettf:hover {
    opacity: 0.9;
    margin: 0.2rem;
}
#tvaf:hover {
    opacity: 0.9;
    margin: 0.2rem;
}
#tref:hover {
    opacity: 0.9;
    margin: 0.2rem;
}
.bild {
    width: 100%;
}
body {
    background-color: rgb(39, 38, 38);
    margin: 0;
    color: rgb(208, 171, 50);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#bild {
    height: 100%;
}
#container1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'he he he'
    'men bil sec1'
    'foo foo sec1'
    ;
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: 120px 8fr 120px;
  }
#section1 {
    grid-area: sec1;
    display: grid;
    grid-template-areas: 
    'pla'
    'ag'
  ;
  grid-template-rows: 5fr 3fr;
  }
  
  
aside {
    grid-area: men;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bildf {
    grid-area: bil;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#plats {
    grid-area: pla;
    background-color: rgb(59, 59, 59);
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#agare {
    grid-area: ag;
    background-color: rgb(59, 59, 59);
}
footer {
    grid-area: foo;
    background-color: rgb(59, 59, 59);
}
  #container3 {
    display: grid;
    grid-template-areas: 
    'he he'
    'sec2 sec3';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 300%;
    height: 100vh;
    margin: 0;
}

#section2 {
    grid-area: sec2;
    display: grid;
    grid-template-areas: 
    'ett'
    'tva'
    'tre'
    'fyra'
    'fem';
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 5rem;
}
#ett {
    grid-area: ett;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    align-items: center;
    display: flex;
}
#tva {
    grid-area: tva;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    align-items: center;
    display: flex;
}
#tre {
    grid-area: tre;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    align-items: center;
    display: flex;
}
#fyra {
    grid-area: fyra;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    align-items: center;
    display: flex;
}
#fem {
    grid-area: fem;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    align-items: center;
    display: flex;
}
#section3 {
    display: grid;
    grid-template-areas: 
    'sex'
    'sju'
    'atta'
    'nio'
    'tio';
    grid-area: sec3;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 5rem;
}
#sex {
    grid-area: sex;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    align-items: center;
    display: flex;
}
#sju {
    grid-area: sju;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    align-items: center;
    display: flex;
}
#atta {
    grid-area: atta;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    align-items: center;
    display: flex;
}
#nio {
    grid-area: nio;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    align-items: center;
    display: flex;
}
#tio {
    grid-area: tio;
    background-color: rgb(59, 59, 59);
    justify-content: center;
    align-items: center;
    display: flex;
}
.kyckling {
    width: 80%;
    height: 70%;
}
#chef {
    width: 90%;
    height: 90%;
}